@model Assignment_MVC_CURD.Models.Product

<h2>Product Details</h2>

<p>Product ID: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Price: @Model.Price</p>

<p>
    <a asp-action="Index">Back to List</a>
</p>
