@{
    ViewData["Title"] = "Product - Index";
}

<h2>Product Management Home</h2>
<ul>
    <li><a href="/Product/DisplayAllProducts">Display All Products</a></li>
    <li><a href="/Product/AddNewProduct">Add New Product</a></li>
    <li><a href="/Product/UpdateProductPrice/1">Update Product Price </a></li>
    <li><a href="/Product/DisplayProductById/1">Display Product by ID </a></li>
    <li><a href="/Product/DeleteProduct/1">Delete Product </a></li>
</ul>
