@{
    ViewData["Title"] = "Product - Index";
}

<div align-center>
    <h2>Product Management Home</h2>
    <ul>
        <li><a href="/Product/DisplayAllProducts">Display All Products</a></li>
        <li><a href="/Product/AddNewProduct">Add New Product</a></li>
      
    </ul>
</div>
