@model Assignment_MVC_CURD.Models.Product

<h2>Update Product Price</h2>

<form asp-action="UpdateProductPrice" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>Name:</label>
        <input asp-for="Name" readonly class="form-control" />
    </div>
    <div>
        <label>New Price:</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <button type="submit" >Update</button>
</form>

<a href="/Product/DisplayAllProducts">Back to List</a>
